.intro__phrase_author {
  position: absolute;
  bottom: 0;
  right: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.41;
  color: #ffffff;
}
/*correcion*/
@media (max-width: 400px) {
  .intro__phrase_author {
    font-size: 24px;
    line-height: 1.41;
    width: 100%;
    position: static;
    text-align: right;
  }
}
