.header__lead__title {
  max-width: 793px;
  max-height: 200px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto 0;
  color: #ffffff;
}
@media (max-width: 431px) {
  .header__lead__title {
    font-size: 40px;
    line-height: 1.1;
  }
}
