.intro {
  max-width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 96px auto 0;
}
@media (max-width: 768px) {
  .intro {
    max-width: 90%;
  }
}
@media (max-width: 431px) {
  .intro {
    margin: 44px auto 0;
  }
}
