.header__lead {
  max-width: 80%;
  max-height: 983px;
  margin: 90px auto 0;
  padding: 0;
}
@media (max-width: 768px) {
  .header__lead {
    max-width: 100%;
  }
}
@media (max-width: 431px) {
  .header__lead {
    margin-top: 50px;
  }
}
