.intro__title {
  max-width: 100%;
  height: auto;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
@media (max-width: 431px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
